/venv

instances/*/players_files/
instances/*/database/
instances/*/stats/
instances/**/*.xlsx
instances/**/*.xls
instances/**/*.csv
instances/**/*.png

__pycache__/
*.pyc
**/__pycache__

/web/data.json
/web/CARTILLA*.xlsx